<html>
  <head>
    <title><%= subject.name %></title>
    <style src="./subject.scss"></style>
    <script src="./polyfill.js"></script>
    <script src="./subject.js"></script>
  </head>
  <body>
    <% include ../index/header.ejs %>
    <main class="row">
      <nav>
	<h4>Latin <small>Mrs Cavalier</small></h4>
	<form>
	  <input type="search" placeholder="Search"></input>
	</form>
	<ul>
	  <li class="active"><a>Blog</a></li>
	  <% if((user.role === "admin" || user.role === "teacher") && subject.blog_drafts) { %>
	  <li><a>Blog Drafts <span id="numberOfDrafts"><%= subject.blog_drafts.length %></span></a></li>
	  <% } %>
	  <% if(subject.vocab_quizzes.length != 0) { %>
          <li><a>Vocab Quizzes</a></li>
	  <% } %>
	  <li><a>Student Resources</a></li>

	</ul>
	<% if(user.role === "admin" || user.role === "teacher") { %>
	<a href="#newPostForm" id="newPost">New Blog Post</a>
	<% } %>
      </nav>
      <div>
	<x-slidable id="newPostForm" hidden>
	  <form action="/<%= subject._id %>" method="post">
	    <input name="title" type="text" placeholder="Title" required/>
	    <span id="formattingButtons">
	      <button>B</button>
	      <button>I</button>
	      <button>U</button>
	    </span>
	    <br/>
	    <textarea name="body"></textarea>
	    <span id="buttons">
	      <button type="submit" formaction="/<%= subject._id %>?draft=true">Save As Draft</button>
	      <button type="submit">Publish</button>
	    </span>
	  </form>
	</x-slidable>
	<% subject.blog.reverse().forEach(function(post) { %>
	<section>
	  <h2><%= post.title %></h2>
	  <% if(user.role === "admin" || user.role === "teacher") { %>
	  <button class="editPost">Edit</button>
	  <button class="deletePost">Delete</button>
	  <br/>
	  <% } %>
	  <%= post.body %>
	</section>
	<% }); %>
      </div>
    </main>
  </body>
</html>
